@import '~assets/styles/resources';

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--iorg-background);
  color: var(--iorg-text);
  margin: 0;
  font-size: 16px;
  line-height: 1.375;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button {
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  &, &:before, &:after {
    box-sizing: border-box;
    margin: 0;
  }
}
a {
  &, &:active, &:visited {
    color: var(--iorg-text);
  }
  display: inline;
  text-decoration: none;
  border-bottom: 2px solid currentColor;

  &.block {
    display: block;
    border: none;
    > span {
      line-height: 1.5;
      border-bottom: 2px solid currentColor;
    }
  }
  &.inline-block {
    display: inline-block;
    border: none;
  }
  &.inverted {
    color: var(--iorg-primary-light-color);
  }
  &.minimal {
    border-bottom-color: transparent;
    &.block > span {
      border-bottom-color: transparent;
    }
  }
  &.button {
    display: inline-block;
    & {
      color: var(--iorg-text);
      font-size: 1rem;
      line-height: 1;
      padding: 0.625rem 1rem;
      border: 0.125rem solid currentColor;
      border-radius: 1.25rem;
    }
    &.primary {
      background-color: var(--iorg-text);
      color: var(--iorg-paper);
      font-size: 1rem;
      line-height: 1;
      padding: 0.75rem 1rem;
      border: none;
      border-radius: 1.25rem;
    }
    &.small {
      color: var(--iorg-text);
      font-size: 0.75rem;
      line-height: 0.75rem;
      font-weight: bold;
      padding: 0.375rem;
      border: 0.125rem solid currentColor;
      border-radius: 0.875rem;
      white-space: nowrap;
    }
    &.disabled {
      background: none;
      color: #aaa;
      border: 0.125rem solid currentColor;
    }
  }
}
img {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.35;
  &.slim {
    font-weight: normal;
  }
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
label {
  margin: 0;
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  h3 {
    font-size: 1.125rem;
  }
}

// tracking optimization
span.punct-l-fbrac {
  margin-left: -0.5em;
}

// box model
@each $unit, $length in $unit-lengths {
  .margin-#{$unit} {
    margin: $length;
  }
  .margin-top-#{$unit} {
    margin-top: $length;
  }
  .margin-bottom-#{$unit} {
    margin-bottom: $length;
  }
  .margin-top-bottom-#{$unit} {
    margin-top: $length;
    margin-bottom: $length;
  }
  .margin-right-left-#{$unit} {
    margin-right: $length;
    margin-left: $length;
  }
  .padding-#{$unit} {
    padding: $length;
  }
  .padding-top-#{$unit} {
    padding-top: $length;
  }
  .padding-bottom-#{$unit} {
    padding-bottom: $length;
  }
  .padding-top-bottom-#{$unit} {
    padding-top: $length;
    padding-bottom: $length;
  }
  .padding-right-left-#{$unit} {
    padding-right: $length;
    padding-left: $length;
  }
}

// project-specific selectors

.section-header {
  margin: 2rem 1.5rem 0rem;

  &.first {
    margin-top: 1rem;
  }
}
.section-title-fancy {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--iorg-accent);
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--iorg-accent);
  transform: skew(0, -12deg) translateY(0.5rem);
  transform-origin: bottom left;
}

// layout

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1rem - ($layout-m / 2);
  max-width: 90rem;
  > .panel {
    & {
      display: block;
      margin: $layout-m;
    }
    &.tiled { // panels have equal width
      & { // default = medium
        flex-basis: 100%;
        @media (min-width: 480px) {
          flex-basis: 14rem;
        }
      }
      &.compact {
        flex-basis: calc((100% - #{$layout-m * 4}) / 2); // 2-up
        @media (min-width: 480px) {
          flex-basis: 14rem;
        }
      }
      &.small {
        @media (min-width: 480px) {
          flex-basis: 10rem;
        }
      }
      &.large {
        @media (min-width: 480px) {
          flex-basis: 16rem;
        }
        @media (min-width: 960px) {
          flex-basis: 18rem;
        }
      }
      &.xlarge {
        @media (min-width: 480px) {
          flex-basis: 20rem;
        }
        @media (min-width: 960px) {
          flex-basis: 24rem;
        }
      }
    }
    &.filled {
      overflow: hidden;
      border-radius: 0.75rem;
      background-color: var(--iorg-paper);
      color: var(--iorg-text);
    }
    &.raised {
      @include shadow;
    }
    > .cover {
      display: block;
      width: 100%;
      > img {
        width: 100%;
      }
    }
    > .detail {
      padding: $layout-m;
    }
  }
}
.section-header + .container,
.section-header + .container-wrapper > .container {
  margin-top: 0;
}

.divider {
  &:after {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--iorg-text);
    margin: 2rem auto;
  }
}