@import '~assets/styles/resources';

@each $unit, $length in $unit-lengths {
  .margin-#{$unit} {
    margin: $length;
  }
  .margin-top-#{$unit} {
    margin-top: $length;
  }
  .margin-bottom-#{$unit} {
    margin-bottom: $length;
  }
  .margin-top-bottom-#{$unit} {
    margin-top: $length;
    margin-bottom: $length;
  }
  .margin-right-left-#{$unit} {
    margin-right: $length;
    margin-left: $length;
  }
  .padding-#{$unit} {
    padding: $length;
  }
  .padding-top-#{$unit} {
    padding-top: $length;
  }
  .padding-bottom-#{$unit} {
    padding-bottom: $length;
  }
  .padding-top-bottom-#{$unit} {
    padding-top: $length;
    padding-bottom: $length;
  }
  .padding-right-left-#{$unit} {
    padding-right: $length;
    padding-left: $length;
  }
}
